html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container{
    position: absolute;
    width: 100%;
    background-image: url(Devin\ Mikhael\ Kaliwangsa\ \(1\).png);
    background-size: cover;
    height: 100%;
}

#navbar a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
}

#navbar{
    /* top: 2.5%; */
    right: 6%;
    width: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 1.2%;
    box-sizing: border-box;
    justify-content: space-evenly;
    /* background-color: red; */

}

.link:hover{
    background-color: #fff;
    padding: 1.5%;
    box-sizing: border-box;
    border-radius: 20px;
}

.link:hover h1{
    color: #000;
}

#activity{
    background-color: #fff;
    padding: 1.5%;
    box-sizing: border-box;
    border-radius: 20px;
}

#activity h1{
    color: #000;
}

.link{
    transition: 0.6s;
}

#title{
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.75vw;
    color: #fff;
}

#content{
    position: absolute;
    top: 57.5%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    aspect-ratio: 19/7;
    align-items: center;
    /* background-color: red; */
}

.image{
    height: 40%;
    position: relative;
}

.image img{
    height: 100%;
    border-radius: 20px;
    position: relative;
    transition: 0.6s;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image{
    transition: 0.6s;
}

.image:hover img{
    transform: scale(1.2);
    filter: blur(1px);
    opacity: 0.75;
}

.image:hover span{
    opacity: 1;
}

span{
    transition: 0.6s;
    height: 100%;
    border-radius: 20px;
    aspect-ratio: 16/9;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    user-select: none;
    cursor: pointer;
}

span h1{
    font-size: 1.5vw;
    text-align: center;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

span p{
    font-size: 1.2vw;
    text-align: center;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

#footer{
    width: 25%;
    display: flex;
    /* background-color: red; */
    /* width: 50%; */
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 2.5%;
    margin: auto;
    left: 0;
    right: 0;
}

#footer h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1vw;
    color: #fff;
    line-height: 150%;
}